.result-container {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.result-info {
  margin-top: 3%;
  height: 97%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.header {
  font-size: 30px;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 280px
}

.travel-time {
  color: #FF6E19;
  font-size: 40px;
  margin-top: 10%;
}

.weather-icon {
  margin: 3% 0 3% 0;
  max-height: 250px;
  max-width: 250px;
}

.weather-body {
  font-size: 30px;
}
