.search-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.search-form {
  display: flex;
  flex-direction: column;
}
